// Шрифты
$ff-regular: 'montserratregular', sans-serif;
$ff-light: 'montserratlight', sans-serif;
$ff-medium: 'montserratmedium', sans-serif;
$ff-bold: 'montserratbold', sans-serif;

//  Стабильно для всех сайтов
$black: #000;
$white: #fff;
$tr: transparent;
$grey: #474747;
$blue: #2680eb;
$red: #f00;

// Основные для текста
$font-size: 16px;
$text: #1d1d1d;
$grey-text: #8e8e8e;
$white-text: #c7c7c7;

// Основные для background
$bg-white: #f2f2f2;
$bg-black: #1d1d1d;
$bg-grey: #f6f6f6;
$bg-gre_7: #f7f7f7;
$border: 1px solid #707070;
$border-input: 1px solid #c7c7c7;

$transition: all .3s ease-in-out;