.footer_mir {
    background: $text;
    padding: 15px 0;
    color: $white;
    .nav {
        flex-direction: row;
        padding: 0;
        margin: 0 -30px;
        &_link {
            font-family: $ff-regular;
            font-size: $font-size;
            padding: 10px 30px;
        }
    }
    .my_svg {
        fill: $white;
    }
}